<div class="patient">
    <nav class="nav-bar">
        <div class=" d-flex justify-content-between items-center mx-5 mt-4 py-2">
          <h1 class=" m-0"> Patient List</h1>
        <button  class="btn btn-primary" (click)="add()">Add Patient</button>
        </div>
      </nav>
      <div class=" mx-5 my-3 text-lg">
        <input type="text" class="form-control " placeholder="Search Patient with Id or Name.." [(ngModel)] = "searchTerm">
      </div>
    <table class="min-w-full mx-10 my-8 text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 border-solid border-2 border-black-500 outline outline-offset-2 outline-black-500">
        <thead class="text-xs text-gray-700 uppercase bg-green-50 dark:bg-green-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Id
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-10 py-3">
                    DOB
                </th>
                <th scope="col" class="px-6 py-3">
                   Age
                </th>
                <th scope="col" class="px-6 py-3">
                    Mobile Number
                </th>
                <th scope="col" class="px-3 py-3">
                    Gender
                 </th>
                 <th scope="col" class="px-20 py-3">
                  Email
                 </th>
                 <th scope="col" class="px-8 py-3">
                  Action
                 </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let patientdata of patients | patient:searchTerm ;let i = index " class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4">
                  {{ patientdata.Id }}
                </td>
                <td class="px-6 py-4">
                  {{ patientdata.Name}}
                </td>
                <td class="px-6 py-4">
                    {{ patientdata.DOB}}
                </td>
                <td class="px-6 py-4">
                  {{ patientdata.Age}}
                </td>
                <td class="px-6 py-4">
                    {{patientdata.MobileNumber}}
                </td>
                <td class="px-6 py-4">
                  {{ patientdata.Gender}}
              </td>
              <td class="px-6 py-4">
                {{ patientdata.Email}}
            </td>
            <td>
                 <button class="btn btn-primary mr-3" (click)="edit(patientdata,i)">Edit</button> 
                  <button class="btn btn-danger" (click)="deletePatient(patientdata.Id)">Delete</button>
                </td>
         </tr>
        </tbody>
    </table>
</div>
