<h1 class="head mt-6 text-red-500"> Todo Application in Angular</h1>

  <div class="form-group d-flex justify-center">
        <input type="text" class="form-control w-1/4" id="text" name="todoInput" [(ngModel)]="todoInput" placeholder="Add New">
     <div >
        <button class="btn btn-primary ml-3  mr-3" (click)="addTask()"[disabled]="!todoInput.length"> Add</button>
        <button class="btn btn-info " (click)="resetForm()" [disabled]="!todoInput.length"> Reset</button>
     </div>
   </div>


   
